

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');



*{
    
    



font-family: 'Work Sans', sans-serif;

max-width: 1920px;

}


nav{
    padding:0px 240px;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
display: flex;
justify-content: space-between;


}
   
   
nav div {
    display: flex;
    
     align-items: center;
    
}
.nav-container i{

    font-size: 50px;
    padding-right: 20px;
   background: #FF42A5; 
  
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.nav-container i{
    color: red;

}

.nav-container h3{
font-size: 2.9rem;

font-weight: 700;
color: #0B0223;

}
.nav-container span{
    color: #FF42A5;
    
}

nav ul{
    display: flex;

}
nav li {
    list-style: none;
    margin-right: 32px; 
    color: #3C354F;
font-size: 1.12rem;
font-weight: 500;
 
}
.Follow{
    text-align: center;
    padding: 15px 24px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}

.Follow i{

padding-left: 20px;
color: #F61C0D;
}

nav li a {
    text-decoration: none;
}

/* end nav part */




/* banner section */


.banner{
    display: flex;
    padding: 0px 240px;
    justify-content: space-between;
    background-image: url("images/Group 14.png");
    background-repeat: no-repeat;
    
}

h2{
    margin: 0px;
    font-size: 5.94rem;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play{
    padding-top: 140px;
    /* margin-top: 140px; */
    margin: 10px;
    color: #0B0223;
font-size: 3rem;
font-weight: 600;
text-transform: uppercase;
}
.Click{
    color: #534C64;
font-size: 1.25rem;
font-weight: 500;
text-transform: lowercase;
}
.btn-primary{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #FF42A5;
color: #FFF;
font-size: 1.25rem;
font-weight: 600;
margin-top: 25px;

}
#btn-rouge{

background: #4EC5F7;
margin-left: 20px;
}
/* .font-awesome{
    width: 70px;
    height: 70px;
    color: #FF42A5;
} */


/* online gamae part */

.online-game{
    color: #0B0223;
text-align:center;
font-size: 3rem;
font-weight: 700;
padding-top: 100px;
}
.game-details{
    color: #534C64;
text-align: center;
font-size: 1.13rem;
font-weight: 400;
line-height: 30px;
}
.online-game span{
    
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.card-container{
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.card p{
    color: #534C64;
font-size: 1.25rem;
font-weight: 500;
line-height: 30px; 
}
.funny-video{
    padding: 0px 240px;
}

/* hover */


.container {
    position: relative;
    /* width: 50%;  */
  } 
  
  .image {
    display: block;
    /* width: 100%; */
    /* height: auto;  */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    opacity: 0;
    transition: .5s ease;
    border-radius: 16px;
  border: 4px solid var(--Linear, #FF42A5); 
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%)
  }
  
  .container:hover .overlay {
  
    opacity: 1;
  }
  
  .text {
    
    font-weight: 600;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } 
  .ic{
   
    font-size: 30px;
    border-radius: 50%; 
    
    background: var(--Linear, linear-gradient(90deg, #FFF 13.13%, #FFF 87.94%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
    
}

/* end hover  */


/* play instantly */


.play-instantly{
    display: flex;
    padding: 0px 240px;
    margin-top: 100px;
    border-radius: 8px;
    margin-left: 160px;

    
}
.play-tag span{
    
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.play-tag{
    color: #0B0223;
font-size: 48px;
font-weight: 700;
line-height: 60px;
text-align: right;
width: 341px;


}
.play-instat{
    margin-top: 150px;
}
.ply-img{
    /* width: 100%; */
}
.play-details{

    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    width: 353px;
    
}
.badage{
    position: relative;
    top: 360px;
    
    bottom: 10vh;
    
    left: 180px; 
 
    
    
}
/* player part */

.player-2{
  
    display: flex;
    flex-wrap: wrap;
 gap: 40px 0px;
    justify-content: center;
    justify-content: space-evenly;
justify-content: safe;
}
#s-pd{
    margin-left: 20px;

}



.player{
    
    margin-top: 200px;
    padding: 0px 240px;
    margin-bottom: 150px;
}
.team-1{
     display: flex;
    justify-content: space-between;
    padding: 30px; 
    
}
.game-viewr img{ 
    /* width: 100%; */
    width: 60px;
    height: 60px;
}
.game-viewr{
    display: flex;
    gap: 16px;
    margin-top: 20px;
    /* height: 80px; */
}
.game-viewr p{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
  padding-right: 18px;
}
 .game-viewr:hover{

    border-radius: 50px;
    border: 1.5px solid var(--Linear, #FF42A5);
    background: #FFF;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
/* #second-row{
    margin: 0px 100px;
    
} */

/* footer part */

footer{
    margin-top: 50px;
    padding: 50px 240px;
    text-align: center;
    background: #0B0223;
   
}
#footer-cls{
    color: #FFF;

}

.social-link a{
    padding: 0px 40px;
  
    font-size: 40px;
    color: #FFF;
}
.foot-details{
    display: flex;
    color: #FFF;
    justify-content: center;
font-size: 18px;
font-weight: 600;

}
.foot-details p{
     padding: 0px 60px ; 
   
}
.copy-right, .polocies{
     
    color: rgba(255, 255, 255, 0.60);
justify-content: center;
font-size: 16px;
font-weight: 500;
line-height: normal;
} 
.polocies{
    display: flex;
}
.polocies p{
     padding: 0px 60px;
    
}


/* responsive  part  mobile device */



@media screen and (max-width: 576px) {


    nav{

        box-shadow: none;
        align-items: center;
        padding: 0px;
    }
   
    ul{
        text-align: center;
        gap: 60px;

    }
    .li-div{
        gap: 36px;
    }
    .nav-container{
        padding-top: 40px;
    }
    
    
 nav,
 .li-div,
 ul,
 .funny-video,
 .card-container,
 .play-instantly
 {
    flex-direction: column;
 }   
    .banner
    {
        flex-direction:column-reverse;
        padding: 0px;
        background-image: none;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
       
      
    }
    .play{
        
        margin: 0px;
        font-size: 2rem;
        padding-top: 20px;
       
    }
.banner img{

width:100%;

}

.banner-container{
    background: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin: 80px 0px 0px ;
    width: 100% ;
text-align: center;
padding-bottom: 20px;

}
.Click{
    font-size: 0.9rem;
    
}
#banner-p{
 text-align: left;
 padding-left: 15%;
}
h2{
    font-size: 3.8rem;
}
   .btn-primary{
padding: 10px 20px;
font-weight: 600;
font-size: 0.9rem;
   }

   .funny-video{
    padding: 0px;
    width: 100%;
}
.online-game{
    font-size: 1.5rem;
margin: 0px;
}
.game-details
{
    font-size: 0.6rem;
}
.card p{
    font-size: 0.63rem;
}

.image{
    width: 100%;
}


.play-instantly{
    /* padding: 0px 20px 0px 35px; */
    padding: 0px ;
    

}
  
.play-instantly img{
    width: 80%;
    
}
.ply-img{
    text-align: right;
}
.badage img{
    width:50%;
    position: absolute;
    /* z-index: -1; */
    

    
}
.badage{
    /* display: grid; */
      left: -10px;
      top: 150px;
      
     
    
    }
    .play-instantly{
        margin-left:0px ;

    }
.play-instat{
    
}
.player{
    padding: 0px;
    /* width: 100%; */
   
}
.player-2{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
}
.game-viewr img{
    /* width: 30px;
    height: 30px; */
}
/* .team-1{
    
display: grid;

justify-content: space-between;
} */
   
footer {
    padding: 0px;
}
.foot-details{
   
    display: grid;
    grid-template-columns: repeat(3,auto);
}
.polocies {
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.foot-details p, .polocies p{
    padding: 10px 20px;
}
.social-link a{
    padding: 0px 20px;
    font-size: 30px;
}


}





    
    
    
    
    
    
    
    
    
    
    